html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;font-family: "微软雅黑",Verdana,Geneva,sans-serif;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
img{max-width:100%;}
body {
  background-color:#2e3339;
  font-size:14px;
}
#mainBody{
	min-width:1182px;
}
#mainBody .header{
	height:47px;
	background-color:#2e3339;
	text-align:right;
	padding:12px 10px;
}
.header .logo{
	font-family: "Comic Sans MS", cursive;
	float:left;
	padding-left:70px;
	line-height:41px;
	text-shadow: 2px 2px 1px #006633;
	background:url('../images/logo(1).jpg') no-repeat 20px 3px; 
}
.header .logo a:hover{
	color:yellow;
}
.header .logo a{
	font-size:30px;
	color:#fff;
}
.header .logo a b{
	font-size:21px;
}
#mainBody .download a{
    display: inline-block;
    font-family: "msyi", "segoeui", Arial, sans-serif;
	color:#fff;
	font-size:14px;
	border:1px solid #2b2d44;
	background-color:#5c636d;
	border-radius:6px;
	padding:4px 15px;
	margin: 10px 0 0 10px;
}
#mainBody .listing{
	float:left;
	background:#eff0f2;
	margin-left:10px;
	min-height:550px;
	width:260px;
	border-radius:8px;
}
.listing h2{
    background:url("../images/title.jpg")repeat-x;
	height:30px;
	line-height:29px;
	padding-left:20px;
	color:#333;
	border-radius:8px 8px 0 0;
	padding:0 0 0 33px;
	border-bottom: 1px solid #90949d;
}
.listing dl dt h3{
    background:url("../images/close.jpg")no-repeat left center;
	padding-left:19px;
	line-height:25px;
	color:#fff;
}
.listing dl dt.show h3{
    background:url("../images/open.jpg")no-repeat left center;
}
.listing dl dt.hide h3{
    background:url("../images/close.jpg")no-repeat left center;
}
.listing dl dt{
    background:url("../images/navDtBg.jpg")repeat-x;
	height:25px;
	padding-left:14px;
	border-bottom: 1px solid #52555c;
	cursor: pointer;
}
.listing dd a{
	color:#333;
	padding-left:33px;
	display:block;
	height:25px;
	line-height:25px;
	border-bottom:1px solid #90949d;
}
.listing dd a:hover{
	font-weight:bold;
}
.listing dd a:hover,.listing dd.open a{
	background:url("../images/title.jpg")repeat-x;
}
.listing dl dd{
	//display:none;
}
#main{
	margin:0 12px 0 280px;
	background:#eff0f2;
	border-radius:8px;
	min-height:550px;
	color:#333;
}
#main .container{
	background:url('../images/title.jpg')repeat-x;
	height:30px;
	line-height:28px;
	padding-left:20px;
	border-radius:8px 8px 0 0;
	color:#333;
}
#main .content{
	padding:20px;
}
#main h4{
	font-size:16px;
}
.catalog dl{
	display:inline-block;
	width:100%;
	vertical-align:top;
	margin:14px 0;
	border:1px solid #001d2b;
	clear:both;
	background:#e6e6e6;
	border-radius:6px;
	box-shadow:6px 6px 6px #999999;
}
.catalog dl dt{
	color:#fff;
	line-height:34px;
	background:#2e3339;
	padding:0 0 0 15px;
}
.catalog dl dd{
	display:inline;
	line-height:36px;
	margin:5px 15px;
	padding-left:10px;
}
.catalog dl dd a{
	color:#2e3339;
}
/**footer**/
div.footer{
	border-top: 1px solid #41464c;
    margin: 15px 0 0 0;
    line-height: 18px;
    padding: 10px;
    clear: both;
    text-align: right;
    font-size: 12px;
    color: #737a82;
}
div.footer p a {
	color: #737a82;
}
/**弹出框**/
#msg{
    width:200px;height:200px;
	position:fixed;
	right:30px;
	bottom:-200px;
	border-radius:4px;
	background:-moz-linear-gradient(top,#fff, #FF6414,);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#FF6414)); 
	background:-webkit-linear-gradient(top,#fff,#FF6414,); 
	background:-o-linear-gradient(top,#fff,#FF6414);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#fff), to(#FF6414));
}
#msg a{
	float:right;
	padding:12px 10px 0 0;
	border:1px solid transparent;
	cursor:pointer;
	color:#000;
	font-weight:bold;
}
#msg div{
	float:left;
	padding:10px 0 0 10px;
}
#msg .hot p a{
	color:#CB6501;
	padding:2px 0 0 2px;
}
#msg div.new-photo{
	padding:0 0 0 10px;
}
#msg div.new p{
	padding:0 0 8px 5px;
	color:#005ACF;
}
